/AbstractRecipe.class
/Address.class
/Aeroplane.class
/Animal$Cat.class
/Animal$Dog.class
/Animal.class
/AnimalRunner.class
/Auditable.class
/Bird.class
/Book.class
/BookRunner.class
/ComplexAlgorithm.class
/ComplexAlgorithmRunner.class
/Customer.class
/CustomerRunner.class
/DummyComplexAlgorithm.class
/Employee.class
/Fan.class
/FanRunner.class
/Flayable.class
/FlayableRunner.class
/GamingConsole.class
/MarioGame.class
/MarioGameRunner.class
/MenuRunner.class
/MotorBike.class
/MotorBikeRunner.class
/MyNumber.class
/MyNumberRunner.class
/Person.class
/Recipe1.class
/RecipeRunner.class
/Rectangle.class
/RectangleRunner.class
/Review.class
/Student.class
/StudentRunner.class
/StudentWithoutInheritance.class
