/ClassAccessModifiers.class
/DefaultClass.class
/EnumRunner.class
/ExtendingClass.class
/FinalClass.class
/FinalNonAccessRunner.class
/NestedClassDemo$InnerClass.class
/NestedClassDemo$StaticInnerClass.class
/NestedClassDemo.class
/Season.class
/SomeClass.class
